<div class="full-card-wide mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title">
		<h2 class="mdl-card__title-text">Painel de Controle</h2>
	</div>
	<div class="mdl-grid mdl-card__actions mdl-card--border">
		<div class="mdl-cell mdl-cell--3-col align-cell-center">
			<img src="../../assets/user.jpg" class="drawer-avatar">
		</div>
		<div class="mdl-cell mdl-cell--9-col">
			<h3>{{ chat?.dados.appname }} <i class="material-icons icon-online">&#xE3FA;</i></h3>
			<h6>ID do Chat: <strong>{{ chat?._id }}</strong></h6>
			<h6>Criado em: <strong>{{chat?.dados.data_cadastro | date: 'fullDate'}}</strong></h6>
		</div>
	</div>
</div>