<div class="full-card-wide mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title">
		<h2 class="mdl-card__title-text">Painel de Controle</h2>
	</div>
	<div class="mdl-grid mdl-card__actions mdl-card--border">
		<div class="mdl-cell mdl-cell--3-col align-cell-center">
			<img src="../../assets/user.jpg" class="drawer-avatar">
		</div>
		<div class="mdl-cell mdl-cell--9-col">
			<h3>Lalala <i class="material-icons icon-online">&#xE3FA;</i></h3>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="id-chat" readonly value="9as8dj9a8sd9a8s">
				<label class="mdl-textfield__label" for="id-chat">ID do Chat</label>
			</div>
		</div>
	</div>
	<!-- <div class="mdl-card__menu">
		<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			<i class="material-icons">share</i>
		</button>
	</div> -->
</div>